In [66]:
from platform import python_version
# print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

import math
import pandas as pd
#pd.__version__
import os
import csv 
import json
import random
import statistics
import statistics
import numpy
import re

from collections import Counter
from urllib import request 	#import urllib.request
from functools import reduce
from IPython.display import Image

from numpy import sqrt

#dir(numpy)

## GITHUB

### git init

### git add .
 
### git commit  -m "atualização "

### git push origin

# Basic


https://pypi.org/

### Help

In [ ]:
# A função help() explica como utilizar cada método de um objeto
lista = [100, -2, 12, 65, 0]
 
help(lista.count)
type(lista)

In [ ]:
# A função dir() mostra todos os métodos e atributos de um objeto
dir(lista)

### len() / range()

In [66]:
#LEN()
lista = ['Ana', 'Jane', 'Beto', 'Julia', 'Cris', 'Lucas', 'Pedro', 'Carla', 'Mariana', 'Paulo']

print(len(lista))

10

In [6]:
# lista = range(10) #Retorna uma lista de 0 até 9 SEQUENCIA
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
nome = "Lucas"
sobrenome = "Santos"

In [60]:
nomeCompleto = nome + " " + sobrenome
print(nomeCompleto)

len(nomeCompleto) #Retorna o tamanho da string

Lucas Santos

12

In [10]:
nomeCompleto[0] #Retorna a primeira letra da string
nomeCompleto[1: ] #Retorna a string a partir da segunda letra
nomeCompleto[ :3] #Retorna a string até a terceira letra
nomeCompleto[: -1] #Retorna a string até a penúltima letra

'Lucas Santo'

 # Funções Built - In

In [ ]:
# abs: valor absoluto/positivo do número
abs(-56)

#int: arredonda o valor para inteiro
int(4.3)

#str: converte o valor para string
str(13)

#float: converte o valor para float/decimal
float(5)

In [ ]:
#bool: retorna True se o valor for diferente de zero e False se for igual a zero
bool(-0)

### range ()
A função range() cria uma sequência de números inteiros. Quando usamos range(len(lista)), ela cria uma sequência de números de 0 até len(lista)-1

In [73]:
lista = [47, 11, 42, 13]

In [105]:
# IMPRIMINDO TODOS OS VALORES DA LISTA, cnf TAMANHO DA LISTA
lista = [47, 11, 42, 13]

for i in range(len(lista)):
    print(f'', lista[i])  # Acessa e imprime cada elemento da lista pelo índice

print(f'\n imprimindo o ultimo elemento da lista', lista[i])

 47
 11
 42
 13

 imprimindo o ultimo elemento da lista 13

In [95]:
#IMPRIME o valor da posição ***wrong code 
val = 0
for i in range(len(lista)):
	val += i
	print(f' somando posição uma a uma dos elementos da lista ', val)

print(f'\n soma de todas as posições', val)

 somando posição uma a uma dos elementos da lista  0
 somando posição uma a uma dos elementos da lista  1
 somando posição uma a uma dos elementos da lista  3
 somando posição uma a uma dos elementos da lista  6

 soma de todas as posições 6

In [87]:
#SOMA DE TODOS OS ELEMENTOS DA LISTA
val = 0
for i in lista:
	val += i

print(f'A soma de todos os elementos da lista é: {val}')

A soma de todos os elementos da lista é: 113

### others

In [11]:
# Concatenando strings
# Atribuindo uma string
s = 'Data Science Academy'
print(s)

Data Science Academy

In [12]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'
print(s)

Data Science Academy é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!

In [14]:
# Upper Case 
s.upper() # tudo em maiúscula

'DATA SCIENCE ACADEMY É A MELHOR MANEIRA DE ESTAR PREPARADO PARA O MERCADO DE TRABALHO EM CIÊNCIA DE DADOS!'

In [17]:
# Lower case
s.lower() # tudo em minúscula

'data science academy é a melhor maneira de estar preparado para o mercado de trabalho em ciência de dados!'

In [18]:
# Dividir uma string por espaços em branco (padrão)
s.split() # divide a string em uma lista

['Data',
 'Science',
 'Academy',
 'é',
 'a',
 'melhor',
 'maneira',
 'de',
 'estar',
 'preparado',
 'para',
 'o',
 'mercado',
 'de',
 'trabalho',
 'em',
 'Ciência',
 'de',
 'Dados!']

In [56]:
# O método de um objeto pode ser chamado dentro de uma função, como print()
frase = 'Isso é uma string'
print (frase.split())

['Isso', 'é', 'uma', 'string']

In [19]:
# Dividir uma string por um elemento específico
s.split('y') # divide a string em uma lista depois do caracter 'y'

['Data Science Academ',
 ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!']

# Funções String

In [20]:
s = 'seja bem vindo ao universo da Linguagem Python!'

In [21]:
s.capitalize() # capitaliza a primeira letra da string para Maiúscula

'Seja bem vindo ao universo da linguagem python!'

In [22]:
s.count('a') # conta o número de vezes que a letra 'a' aparece na string

4

In [23]:
s.isalnum() # verifica se todos os caracteres na string são alfanuméricos

False

In [24]:
s.islower() # verifica se todos os caracteres na string estão em minúsculas

False

In [25]:
s.isspace() # verifica se todos os caracteres na string são espaços em branco

False

In [26]:
s.endswith('o') # verifica se a string termina com a letra 'o'

False

In [ ]:
#insert		# Adiciona o número 5 na posição 1 da lista

#extend		# Adiciona os números 6 e 7 ao final da lista

#append		# Adiciona o número 4 ao final da lista

# LISTAS [ ]

In [15]:
#INSERINDO E DELETANDO ELEMENTOS DE UMA LISTA
minha_lista = [0, 1, 2, 3]

minha_lista.append(4)  # Adiciona o número 4 ao final da lista
minha_lista.extend([6, 7])  # Adiciona os números 6 e 7 ao final da lista
minha_lista.insert(1, 10)  # Adiciona o número 10 na posição 1 da lista

#del minha_lista[1]  

print(minha_lista)

[0, 10, 1, 2, 3, 4, 6, 7]

In [17]:
#SUBSTITUINDO ELEMENTOS DE UMA LISTA
minha_lista = [10, 20, 30, 40, 50, 0]

novo_valor = minha_lista.index(30) 	#consultando o indice do valor 30
# print(novo_valor)
minha_lista[novo_valor] = 35        # Substituindo 30 por 35
print(minha_lista)

2

In [4]:
#CONCATENANDO LISTAS
lista_1 = [1, 2, 3]
lista_2 = [4, 5, 6]

listaFinal = lista_1 + lista_2
print(f'Concatenando lista1 e Lista2: {listaFinal}')

Concatenando lista1 e Lista2: [1, 2, 3, 4, 5, 6]

##### LISTAS e FOR

In [23]:
lista_velha = [1, 2, 3, 4]
lista_nova = []

for item in lista_velha:
	lista_nova.append(item) 		#APPEND: adiciona 'item' na variável "lista_nova"

print(f' Juntando as duas lista. Gerou uma nova lista, Lista Nova: {lista_nova}')

 Juntando as duas lista. Gerou uma nova lista, Lista Nova: [1, 2, 3, 4]

##### LISTA DE LISTAS

In [27]:
#CONSULTANDO LISTAS DENTRO DA MESMAS LISTAS
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]
print(f'Lista ofc: {listas}')

a = listas[0][1] # Consultando a pimeira lista, segundo elemento dessa lista
print(f'\n Consultando valor da primeira lista: {a}')

Lista ofc: [[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

 Consultando valor da primeira lista: 2

In [15]:
#CONSULTANDO ELEMENTOS DE UMA LISTA
minha_lista = [1, 2, 3, 'Ana']

print(150 in minha_lista)

False

In [18]:
#CONSULTANDO O ÍNDICE DE UM ELEMENTO NA LISTA com INDEX
print(f'Posição do elemento "Ana" dentro da Lista é:' , minha_lista.index('Ana')) # Retorna o índice do elemento 3

Posição do elemento "Ana" dentro da Lista é: 3

# DICIONÁRIOS { }

In [32]:
#CONSULTANDO O VALORES NO DICIONÁRIO
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

estudantes.keys() # Retorna apenas as chaves do dicionário (valores que estão em "aspas")
estudantes.values() # Retorna apenas os valores do dicionário (valores que estão fora de "aspas")
estudantes.items() # Retorna todos os itens do dicionário

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

### ATUALIZAR VALORES NO DICIONÁRIO

In [33]:
#JUNTANDO DOIS DICIONÁRIOS
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

estudantes.update(estudantes2)# Atualiza o dicionário estudantes com os valores do dicionário estudantes2
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [36]:
#SUBSTITUINDO ELEMENTOS DE UM DICIONÁRIO
estudantes["Pedro"] = 23
print(f' novo dic com valores substituídos.  Pedro agora é 23: {estudantes}')

#ADICIONANDO ELEMENTOS EM UM DICIONÁRIO
estudantes["Marcelo"] = 24
print(f' \n dic com um elemento adicionado. Marcelo agora é 24: {estudantes}')

 novo dic com valores substituídos.  Pedro agora é 23: {'Pedro': 23, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Camila': 27, 'Adriana': 28, 'Roberta': 26, 'v': 23, 'Marcelo': 24}

 dic com um elemento adicionado. Marcelo agora é 24: {'Pedro': 23, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Camila': 27, 'Adriana': 28, 'Roberta': 26, 'v': 23, 'Marcelo': 24}

In [35]:
dict2 = {}

dict2["key1"] = "Data Science"
dict2["key2"] = 10
dict2["key3"] = 100
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [47]:
a = dict2["key1"]
b = dict2["key2"]
c = dict2["key3"]
a, b, c

('Data Science', 10, 100)

### DICIONÁRIOS COM LISTAS

In [36]:
#SUBSTITUINDO ELEMENTOS DE UMA LISTA DENTRO DO DICIONÁRIO
dict3 = {'chave1':1230, 'list1':[22,453,73.4], 'list2':['picanha', 'fraldinha', 'alcatra']}

dict3['list1'][0] -= 2 # Subtrai um valor do primeiro elemento da lista na list1
print(dict3)

#SOMANDO ELEMENTOS DENTRO DO DICIONÁRIO
dict3['chave1'] += 2 # Soma +2 ao elemento da chave1
dict3

{'chave1': 1230, 'list1': [20, 453, 73.4], 'list2': ['picanha', 'fraldinha', 'alcatra']}

{'chave1': 1232,
 'list1': [20, 453, 73.4],
 'list2': ['picanha', 'fraldinha', 'alcatra']}

### DICIONÁRIOS ANINHADOS

In [53]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [54]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [55]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

# TUPLAS ( )

In [5]:
#MODIFICANDO ELEMENTOS DE UMA TUPLA
tupla_ofc = (1, 2, 3, 4, 5)

lista_tupla = list(tupla_ofc) # É necessário Converte a tupla em uma list
print(f' Tupla tranformada em lista: {lista_tupla}')

nova_tupla = tuple(lista_tupla) # Converte a lista em uma tupla
print(f'\n Resultado final da tupla depois de modificada: {nova_tupla}')

 Tupla tranformada em lista: [1, 2, 3, 4, 5]

 Resultado final da tupla depois de modificada: (1, 2, 3, 4, 5)

# IF /ELIF / ELSE / FOR

#### IF , ELIF e ELSE

In [3]:
# IF e ELIF
dia = "Terça"

if dia == "Segunda":
    print("Hoje fará sol!")
elif dia == "Terça": 	 				 #ELIF: Se a condição anterior não for atendida, verifique esta condição
    print("Hoje vai chover!")
else:
    print("Sem previsão do tempo para o dia selecionado") # Se nenhuma das condições anteriores for atendida, execute este bloco#

Hoje vai chover!

In [5]:
# UTILIZANDO  (%) PLACEHOLDERS
disciplina = 'Data Science'
nota_final = 90
semestre = 2

if disciplina == 'Data Science' and nota_final >= 80 and semestre != 1:
    print('Você foi aprovado em %s com média final %r!' %(disciplina, nota_final)) # %s e %r são placeholders
else:
    print('Lamento, acho que você precisa estudar mais!')

Você foi aprovado em Data Science com média final 90!

### FOR

In [ ]:
# for com TUPLA
tp = (2,3,4)
for i in tp:
    print(i)
    
print('\n')

# Imprimindo os valores no intervalo entre 0 e 5 (exclusive)
for contador in range(0,5):
    print(contador)

print('\n')

# Imprimindo os números pares da lista de números
lista = [1,2,3,4,5,6,7,8,9,10]
for num in lista:
    if num % 2 == 0:		 #%: operador de módulo, retorna o resto da divisão
        print (num)
        
print('\n')

# Listando os números no intervalo entre 0 e 60, de 2 em 2
for i in range(0,60,2):  
    print(i)

### FOR ANINHADO

In [16]:
lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]

for elemento_lista1 in lista1:
    
   for elemento_lista2 in lista2:
        
      if elemento_lista1 == 47 and elemento_lista2 == 47:
            
         print("O número 47 foi encontrado nas duas listas!")

O número 47 foi encontrado nas duas listas!

In [37]:
#Soamndo elementos pares de duas listas
lista1 = [10,16,24,39,47]
lista2 = [32,89,47,76,12]
soma = 0
 
#for lista in [lista1, lista2]:
#    for num in lista:
#        if num % 2 == 0:
#            soma += num

for num in lista1 + lista2:  #for num in lista1 + lista2:  #Concatena as duas listas
    if num % 2 == 0:
      soma += num
      # temp = soma + num
      # soma = temp
      
print("Soma dos valores pares:", soma)

Soma dos valores pares: 170

In [ ]:
matriz = [[42, 23, 34], [100, 215, 114], [10.1, 98.7, 12.3]]
maior_numero = 0

# Loop externo
for linha in matriz:
    
    # Loop interno
    for num in linha:
        
        # Condicional
        if num > maior_numero:
            maior_numero = num

print("Maior número:", maior_numero)

Maior número: 215

### FOR com DICIONÁRIO

In [25]:
# Listando as chaves de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}
for item in dict:
    print(item)

k1
k2
k3

In [ ]:
# Imprimindo chave e valor do dicionário. Usando o método items() para retornar os itens de um dicionário
dict = {'k1':'Python','k2':'R','k3':'Scala'}

for k,v in dict.items():
    print (k,v)

### FOR and RANGE / LISTA

In [ ]:
for lista_numeros in range(2,31):
	 print(lista_numeros)

In [59]:
lista = ['Ana', 'Jane', 'Beto', 'Julia', 'Cris', 'Lucas', 'Pedro', 'Carla', 'Mariana', 'Paulo']

# tamanho_lista =  len(lista)
lista

['Ana',
 'Jane',
 'Beto',
 'Julia',
 'Cris',
 'Lucas',
 'Pedro',
 'Carla',
 'Mariana',
 'Paulo']

In [47]:
lista = ['Ana', 'Jane', 'Beto', 'Julia', 'Cris', 'Lucas', 'Pedro', 'Carla', 'Mariana', 'Paulo']
# tamanho_lista = len(lista)

for name in range(0, len(lista)):
    print(lista[name])

Ana
Jane
Beto
Julia
Cris
Lucas
Pedro
Carla
Mariana
Paulo

# WHILE

In [ ]:
valor = 0
while valor < 10:
    print(valor)
    valor = valor + 1

#### WHILE  BREAK, PASS and CONTINUE

In [60]:
# BREAK
valor = 0
while valor < 10:
    if valor == 4:
        break			#interrompe o loop.  Se encontramos o número 4 interrompemos o loop
    else:
        pass
    print(valor)
    valor = valor + 1

0
1
2
3

In [ ]:
# CONTINUE
for letra in "Python é zzz incrível!":
    if letra == "z":
        continue		#interrompe a iteração atual e continua com a próxima iteração
    print(letra)

### WHILE and FOR TOGETHER

In [39]:
#NÚMEROS PRIMOS
primos = []

# Loop for para percorrer números de 2 a 30
for lista_numeros in range(2, 31):
    
    # Variável de controle
    eh_primo = True
    
    # Loop while para verificar se o número é primo
    i = 2
    while i <= lista_numeros // 2:
        if lista_numeros % i == 0: 	
            eh_primo = False 
            break
        i += 1
    
    # Adicionando o número primo na lista
    if eh_primo:
        primos.append(lista_numeros)

# Imprimindo a lista de números primos
print(primos)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

# DEF / LAMBDA

LAMBDA: funções anonimas

#### Def

In [ ]:
def imprimeNumeros():
    
    # Loop
    for i in range(0, 5):
        print("Número " + str(i))       
print (imprimeNumeros())

In [74]:
#Tupla e Função
def printVarInfo(arg1, *vartuple ):
 
    print ("O parâmetro passado foi: ", arg1)
   
    for item in vartuple:
       print ("O parâmetro passado foi: ", item)
    return;

In [82]:
printVarInfo('Chocolate', 'Morango\n')

printVarInfo('Data', 'Science', 'Academy')

O parâmetro passado foi:  Chocolate
O parâmetro passado foi:  Morango

O parâmetro passado foi:  Data
O parâmetro passado foi:  Science
O parâmetro passado foi:  Academy

In [2]:
var_global = 10  # Esta é uma variável global

# Função
def multiplica_numeros(num1, num2):
    var_local = num1 * num2  # Esta é uma variável local
   #  var_local = num1 * num2
    print(var_local)
    

multiplica_numeros(5,5) #resultado ref a varoável Local

print(f'\nesse resultado é ref a Variável Global: {var_global}')

25

esse resultado é ref a Variável Global: 10

In [ ]:
# INPUT and IF / ELSE
idade = int(input("Digite sua idade: "))
if idade > 13:
    print("Você pode acessar Redes Sociais sem supervisão!")  
else:
    print("Seus pais não deveriam você acessar Redes Sociais sem supervisão!")

### practicing Def

In [62]:
#Função que checa se o número é primo 
def numPrimo(num):
    num = int(input("Digite um número: "))
    
    if (num % 2) == 0 and num > 2: 
        return "Este número não é primo"
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if (num % i) == 0:
            return "Este número não é primo"
    return "Este número é primo"

print(numPrimo(0))

Este número não é primo

In [80]:
#Função para converter uma string em caixa baixa
frase = 'Esse Texto Será Convertido Todo Em Caixa Baixa/Letra Minúscula (Lower Case)'

def lower_case(text):
	 return text.lower()			#lower(): converte a string em caixa baixa
	#  return text.split(" ")
	
lower_case(frase)

'esse texto será convertido todo em caixa baixa/letra minúscula (lower case)'

In [ ]:
# Função split dos dados
frase = "Esta função será bastante útil para separar grandes volumes de dados."

def split_string_letras(text):
    frase = text.upper()		#upper: converte a string em maiúscula
   #  return frase
    for letra in frase:
        print(letra)
   

split_string_letras(frase)

### Lambda

In [24]:
potencia = lambda num: num ** 2
print('resultado: ', potencia(5))

#def potencia(num): return num ** 2

resultado:  25

In [15]:
par = lambda x: x % 2==0 			#checando se número é par. 	operadores de comparação retornam boolean: true or false
print(par(3))

# def par (x): 
	# return x % 2 == 0
# print(par(3))

False

In [21]:
first = lambda letra: letra[0] 			#retorna o primeiro caracter da string
print(first('Python'))

# def first(letra): return letra[0]
# first('Python')

P

# List Copreheshion

List Compreheshion: loop dentro de uma lista

In [41]:

[x for x in range(0,10)] 		#retorne X para cada X no intervalo de 0 a 10 		OR	 	Para cada valor de X dentro da lista de elementos (range(0,10), retorne X)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
#List Comprehension com condição IF
list_number = [x for x in range(10) if x < 5] 		#retorne X para cada X no intervalo de 0 a 10 se X for menor que 5
print(list_number)

[0, 1, 2, 3, 4]

In [43]:
#APPEND e List Comprehension
lista_frutas = ["banana", "abacate", "melancia", "cereja", "manga"]

nova_lista = []

nova_lista = [x for x in lista_frutas if "m" in x]

# for x in lista_frutas:
#     if "m" in x: 		#Se a letra "m" estiver presente no elemento, adicione o elemento à nova lista[]
#         nova_lista.append(x)

print(nova_lista)

['melancia', 'manga']

In [44]:
#DICIONÁRIO e List Comprehension
dict_alunos = {'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

dict_alunos_status = {k:v for (k, v) in dict_alunos.items()}
print(dict_alunos_status)

{'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

In [45]:
#DICIONÁRIO , IF e List Comprehesion
dict_alunos = {'Bob': 68, 'Michel': 84, 'Zico': 57, 'Ana': 93}

# Criamos um novo dicionário com o status: nota maior que 70, aprovado, senão, reprovado
dict_alunos_status = {k:('Aprovado' if v > 70 else 'Reprovado') for (k, v) in dict_alunos.items()}
print(dict_alunos_status)

{'Bob': 'Reprovado', 'Michel': 'Aprovado', 'Zico': 'Reprovado', 'Ana': 'Aprovado'}